body {
    margin: 100px 0px 0px;
    color: #252525;
    font-family: 'DM sans';
    background-image: linear-gradient(6deg,#f0ead3 0%,#ecf8ff 100.12%);
}

#root {
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

h2 {
    margin-top: 60px;
}

.start-quiz {
    margin-top: 60px;
}

button {
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    background-color: #40a3b5;
    border: 1px solid transparent;
    padding:11.8px 47.8px;
    height: 48px;
    min-width: 250px;
    max-height: 48px;
    font-size: 19px;
    font-weight: 500;
}

button:hover {
    background-color: #4D468CFF;
}

button:disabled {
    background-color: #e1e1e1;
}

.quiz-navigation {
    display: flex;
    justify-content: space-between;
    width: min(100%, 600px);
    margin: 60px auto 0px;
    cursor: pointer;
}

.quiz-navigation button {
    min-width: 40px;
    border-radius: 50%;
    padding: 6px 2px;
    height: 40px;
}

ul {
    list-style: circle;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: flex-start;
    width: min(100%, 600px);
    margin: 40px auto;
}

li {
    cursor: pointer;
    font-size: 16px;
}

li:hover {
    color: #41a4b6;
}

.quiz {
    position: relative;
}

.quiz-option.selected{
    color: #50c6dc;
}

.progress {
    width: 90%;
    height: 10px;
    background-color: #e5e5e5;
    border-radius: 9px;
    overflow: visible;
    margin: 0 auto;
}

.progress-fill {
    height: 100%;
    background-color: #40a3b5;
    transition: width .3s ease;
    border-radius: 9px;
}

.progress svg {
    position: absolute;
    right: 48px;
    transform: translateY(-54%);
    width: 34px;
}

@media (width <= 768px) {
    .progress svg {
        right: 8px
    }
}

@media (600px < width <= 1023px) {
    .progress svg {
        right: 25px
    }

    li {
        font-size: 19px;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: min(100%, 400px);
    margin: 50px auto 0;
    gap: 24px;
    text-align: left;
    margin-top: 50px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form button {
    margin-top: 20px;
}

label {
    font-weight: 600;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    background-color: #f9f9f9;
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1rem;
    color: #333333;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    background-color: #ffffff;
    border-color: #40a3b5;
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 102, 204, 0.15);
}

input.error {
    border: 1px solid #dc3545;
}

.error-msg {
    color: #dc3545;
    font-size: 0.85rem;
    display: block;
    margin-top: 2px;
    font-weight: 600;
}

.answer-error-msg {
    color: #328190;
}